  <div class="center">
    <% @notifications.unread.each do |notification| %>
      <div class="panel panel-default">
        <div class="panel-body">
        <%= render :partial => 'card', locals: {notification: notification}%>
      </div>
    <% end %>
  </div>



  <div class="center">
    <% @notifications.has_read.each do |notification| %>
      <div class="panel panel-default">
        <div class="panel-body has_read">
          <%= render :partial => "card", locals: {notification: notification}%>
        </div>
      </div>
    <% end %>
  </div>