<header class="navbar navbar-fixed-top navbar-default" role="navigation">
  
    <nav>
      <ul class="nav navbar-nav">
        <li ><a href="/microposts">Micro</a></li>
        <li class="active" ><a href="/photos">Album</a></li>
      </ul>
    </nav>
    <a href=<%= upload_path %> id="upload_picture_button" class='btn btn-primary pull-right' role='button'>上传照片</a>
  
</header>