<%= render 'layouts/flash' %>
<div align="center">
  <%= image_tag @photo.picture_url(:detail).to_s, class:"img-responsive" %>
  <%#= image_tag @photo.picture_url.to_s, class:"img-responsive" %>
</div>
