<header class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li class="active" ><a href="/microposts">Micro</a></li>
        <li ><a href="/photos">Album</a></li>
      </ul>
    </nav>
    <a href='microposts/new' id="upload_picture_button" class='btn btn-primary pull-right' role='button'>新的微博</a>
  </div>
</header>