<div class="panel panel-default">
  <div class="panel-body">
    <%= micropost.content %>
  </div>
  <div class="panel-footer">
    <ul>
      <% if admin? %>
        <li>
          <%= link_to "修改", edit_micropost_path(micropost) %>
        </li>
      <% end %>
      <li>
        <%= link_to content_tag(:i, " 评论 #{micropost.comments_count}", :class => "fa fa-comments"), micropost_path(micropost), class:"link-to-comment" %>
      </li>
      <li>
        <%= time_ago_in_words(micropost.created_at) %>
      </li>
    </ul>
  </div>
</div>