<div class="container index-hold">

  <% if admin_user && admin_user.avatar_url %>
    <!--div class="col-md-3">
      <%#= render 'layouts/admin_profile' %>
    </div>
    <div class="col-md-9"-->
      <div class="row" id="content">
        <%= render @microposts %>
      </div>
      <div align="center">
        <%= will_paginate @microposts %>
      </div>
    <!--/div-->
  <% else %>
    <div class="row" id="content">
        <%= render @microposts %>
      </div>
      <div align="center">
        <%= will_paginate @microposts %>
      </div>
  <% end %>
</div>
