
#= require nprogress
#= require nprogress-bootstrap
#= require cropper
#= require_self

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import 'microposts';
@import 'comments';
@import 'custom';
@import 'notifications';
@import 'photos';
@import 'sessions';
@import 'users';


$hover-color:white;
$blue:#176BBF;

$hover-background:#176BBF;


.headroom { position:fixed; z-index:+1; top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}

body {
  background-color: #F5F5F5;
  padding-top: 60px;
  padding-bottom: 30px;
  font-family:  "Heiti SC Light",
                "Helvetica Neue",
                Helvetica,
                "Microsoft YaHei"
                Arial,
                sans-serif;
}

header {
  border:1px;
  border-style: none none solid none;
  border-color: #e7e7e7;
  height: 52px;
  background-color: white;

  -moz-box-shadow:0px 2px 3px #e7e7e7;
  -webkit-box-shadow:0px 2px 3px #e7e7e7;
  box-shadow:0px 1px 2px #e7e7e7;
}

.navbar {
  border-style:inherit;
  background-color: white;
  border:1px;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

.navbar-default .navbar-nav > .active > a {
  color:$hover-color;
  background-color:$hover-background;
      &:hover {
          color: $hover-color;
          background-color:$hover-background;
      }
}

.navbar-default .navbar-nav > li > a {
  color: $blue;  
      &:hover {
          color: $hover-color;
          background-color: $hover-background;
      }

}

.navbar-default .navbar-nav > .open > a:focus {
      color: $hover-color;
      background-color: $hover-background;
}


.navbar-default .navbar-brand {
  color: $blue;
      &:hover {
          color: $blue;
      }
}

.nav > li > a {
  padding: 8px 14px 8px 14px;
  margin: 8px 8px 7px 8px;
  border-radius:4px;
}

.navbar-brand {
  padding: 16px 22px 15px 22px;
}


.dropdown-menu li > a:hover{
  background-color: #176BBF;
  color: white;
}

a {
  color:$blue;
}


.dropdown-menu > li > a {
  color:$blue;
}


.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color:$blue;
  &:hover {
          color: $hover-color;
          background-color: $hover-background;
      }

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color:white;
}

.navbar-nav .open .dropdown-menu {
  border:2px black;
}

.fa-bars {
  color:$blue;
}

.navbar-toggle {
  border: 0px;
}

.fetching_more_microposts {
  text-align: center;
  font-size:20px;
  color: $blue;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 12px;
}
