
.row {
  margin:0px;
}

.my_form {
  padding-top:30px;
  padding-left:40px;
  padding-right: 30px;
  padding-bottom:10px;
}

div.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.btn {
  border-radius: 2px;
  border:0px;
  background-color:#205EC9;
      &:hover {
        background-color:#1F64DB;
      }
}

.btn-danger {
  background-color:#d43f3a;
      &:hover {
        background-color:#d9534f;
      }
}
