// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_form {
  padding-top:30px;
  padding-left:40px;
  padding-right: 30px;
  padding-bottom:10px;
}
h1 {
  text-align:center;
}

.center {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}


.input_short {
  width:300px;
}