<li id="fat-menu" class="dropdown pull-right" >
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-no-turbolink="true">管理员<b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "资料", "#" %></li>
    <li><%= link_to "设置", "#" %></li>
    <li><%= link_to "通知", notifications_path %></li>
    <li class="divider"></li>
    <li><%= link_to "退出登录", signout_path, method: "delete" %></li>
  </ul>
</li>