<header>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-header">
        <i class="fa fa-bars fa-lg"></i>
        
      </button>
      <a class="navbar-brand" >MyBlog</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-header">
      <ul class="nav navbar-nav">
        <li><a href="/microposts"><i class="fa fa-file-o"></i> 微博</a></li>
        <li><a href="/photos"><i class="fa fa-picture-o"></i> 相册</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? && !admin? %>
          <%= render 'layouts/normal_user_header' %>
        <% elsif signed_in? && admin? %>
          <%= render 'layouts/admin_header' %>
        <% else %>
          <li>
            <%= link_to content_tag(:i, " 登录", :class => "fa fa-users"), login_url %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
</header>