<header class="navbar navbar-fixed-top navbar-default" role="navigation">
    <nav>
      <ul class="nav navbar-nav" >
        <li><a href="/microposts">微博</a></li>
        <li><a href="/photos">相册</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        
        <% if signed_in? && !admin? %>
          <%= render 'layouts/normal_user_header' %>

        <% elsif signed_in? && admin? %>
          <%= render 'layouts/admin_header' %>

        <% else %>

          <ul class="nav navbar-nav">
            <li><%= link_to "登录", login_url, class:'pull-right' %></li>
          </ul>
        <% end %>
      </ul>
  </nav>
</header>